.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--default-layout-width);
    margin-top: 57px;
    max-height: 100vh;
}

.content {
    display: flex;
    width: 936px;
    height: 100%;
    margin-top: 24px;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

@media (max-width: 1025px) {
    .wrapper {
        margin-top: 0;
    }
}

@media (max-width: 769px) {
    .content {
        width: 680px;
    }
}

@media (max-width: 601px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
