.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--default-layout-width);
    margin-top: 57px;
    max-height: 100vh;
}

.content {
    display: flex;
    width: 936px;
    height: 100%;
    margin-top: 24px;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
}
