.wrapper {
    width: var(--default-layout-width);
    height: 746px;
    max-height: 746px;
    background-color: #f9f9f9;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}
.content {
    display: flex;
    width: 800px;
    height: 576px;
    max-height: 576px;
    box-shadow: rgb(44 44 44 / 8%) 0px 4px 16px;
    border-radius: 20px;
}

.picture {
    width: 336px;
    max-height: 576px;
    background-color: #ffeceb;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logo {
    display: flex;
    width: 100%;
}
.logo-img {
    margin-left: 32px;
    width: 160px;
    object-fit: cover;
}
.img-below {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}
.imgLogin {
    margin-left: 32px;
    margin-top: -60px;
}
.text-login {
    margin-left: 32px;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: rgb(44, 44, 44);
}
.forgot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.forgot-password {
    width: 464px;
    padding: 32px;
}
.back-btn {
    display: flex;
    align-items: center;
}

.back-icon {
    font-size: 30px;
    font-weight: normal;
    color: rgb(186, 186, 186);
    cursor: pointer;
}
.forget-title {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 500;
}
.forget-text {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 32px;
}
.resend-code {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resend-code-text {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 32px;
    color: var(--primary);
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: 0.7;
    }
}
.input-register-wrapper {
    margin-top: 16px;
}
.input-register {
    width: 100%;
    font-size: 1.4rem;
    color: rgb(44, 44, 44);
    padding: 13px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.8);
    }
}

.send-btn {
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
    user-select: none;
    font-weight: normal;
}

.login-text {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    user-select: none;
    .nm-text,
    .hl-text {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 400;
        color: rgb(44, 44, 44);
    }
    .hl-text {
        cursor: pointer;
        color: var(--primary);
        &:hover {
            opacity: 0.8;
        }
    }
}

.validate {
    height: 20px;
    line-height: 2rem;
    font-size: 1.2rem;
    // font-family: Lexend;
    margin-top: 4px;
    color: var(--primary);
}
