.wrapper {
    display: flex;
    width: 696px;
    margin-right: 30px;
    flex-direction: column;
}

.title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #2c2c2c;
    display: block;
}

.sort-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.result {
    display: flex;
}

.result-item {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 6px 0px rgb(44 44 44 / 4%);
}
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 24px;
    max-width: 454px;
    width: 454px;
}
.title-post {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: var(--primary);
    text-transform: uppercase;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: wrap;
    overflow: hidden;
}

.details-info {
    display: flex;
    align-items: center;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px 0;
    span {
        font-size: 1.4rem;
    }

    .dot {
        margin: 0 12px;
    }
}

.describe {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #505050;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: wrap;
    overflow: hidden;
}

.date-and-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    right: 16px;
    left: 24px;
    .date {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #999;
    }
    .type {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: var(--primary);
    }
}

.date-createdby {
    display: flex;
    flex-direction: column;
}

.createdBy {
    font-size: 1.3rem;
}

.more-post {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
