.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 750px;
    box-shadow: rgba(182, 182, 182, 0.18) 0px 4px 8px;
    height: calc(100vh - var(--default-layout-header-height));
    max-height: calc(100vh - var(--default-layout-header-height));
}

.heading {
    margin-bottom: 60px;
}
.heading-text {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 32px;
    height: 32px;
    background-color: var(--primary);
    color: #fff;
    padding-left: 10px;
}

.text {
    font-size: 1.4rem;
    padding: 0 40px;
    margin-bottom: 32px;
}

.change-password {
    padding: 0 40px;
}

.old-pw,
.new-pw,
.confirm-pw {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.confirm-pw {
    margin-bottom: 32px;
}

.label {
    font-size: 1.3rem;
    width: 140px;
    text-align: left;
    margin-right: 16px;
}
.input-container {
    display: flex;
    align-items: center;
}
.input {
    font-size: 1.2rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 180px;
}

.notify-text {
    font-size: 1.2rem;
    color: var(--primary);
    margin-left: 16px;
}

.submit {
    display: flex;
    flex-direction: column;
    margin-left: 196px;
}
.submit-btn {
    width: 80px;
    padding: 8px 16px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: 0.7;
    }
}

.text-note {
    font-size: 1.4rem;
    margin-top: 16px;
}
