.category {
    display: flex;
    width: 208px;
    max-width: 208px;
    height: 48px;
    max-height: 48px;
    align-items: center;
    border-right: 1px solid rgb(232, 232, 232);
    cursor: pointer;
    .icon-left {
        display: block;
        float: left;
        line-height: 2.4rem;
        font-size: 2.4rem;
        margin-top: 2px;
        padding: 10px 10px 10px 16px;
    }
    .text-ctgr {
        width: 130px;
        max-width: 130px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .icon-right {
        // height: 48px;
        display: block;
        float: right;
        margin-top: 4px;
        padding: 0 12px;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
}

.category-search-bar {
    width: 216px;
    border-right: none;
    height: 44px;
}

// .category-sb-list {
//     width: 216px;
// }
.category-list {
    width: 300px;
    .category-item {
        margin-left: 0;
        font-family: var(--font-family);
        font-weight: 500;
    }
}

.category-body {
    max-height: 300px;
    overflow-y: auto;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 8px 6px;

    .left {
        display: flex;
        align-items: center;
        padding: 6px 6px;
        line-height: 2rem;
        border-radius: 4px;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(236, 236, 236);
        }
    }
    .rf-icon {
        font-size: 1.8rem;
        margin-right: 4px;
        // margin-top: 2px;
    }
    .rf-text {
        font-size: 1.4rem;
    }

    .btn-refresh {
        font-family: var(--font-family);
        padding: 8px 12px;
        background-color: var(--primary);
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        &:hover {
            opacity: 0.8;
        }
    }
}

// CategoryItem
.category-item {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 6px 12px 6px 12px;
    line-height: 2rem;
    cursor: pointer;
    border-bottom: solid 1px rgb(236, 236, 236);
    &:hover {
        background-color: rgb(236, 236, 236);
    }
}
.category-sb-item {
    border-bottom: none;
    &:hover {
        background-color: transparent;
    }
}

.icon {
    font-size: 1.6rem;
    margin-right: 6px;
    margin-top: 2px;
}

.text {
    width: 210px;
    font-size: 1.4rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkbox {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    color: #9e9e9e;
}

.title-wrapper {
    display: flex;
    align-items: center;
}

.title,
.arrow-down {
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.arrow-down {
    color: #999;
    margin-left: 4px;
    margin-bottom: 2px;
}

.sort-value {
    line-height: 2rem;
    font-size: 1.4rem;
}
