.wrapper {
    width: var(--default-layout-width);
}

.slider-container {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin-top: 20px;
    overflow: hidden;
}

@media (max-width: 1190px) {
    .slider-container {
        height: 350px;
    }
}

@media (max-width: 1023px) {
    .slider-container {
        height: 300px;
    }
}

@media (max-width: 600px) {
    // .category-list,
    .slider-container {
        height: 200px;
    }
}

@media (max-width: 321px) {
    // .category-list,
    .slider-container {
        height: 150px;
    }
}
