.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    margin-top: var(--default-layout-header-height);
}

.content {
    margin-top: var(search-bar-height);
    flex: 1;
}
