.wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(204, 204, 204) transparent;
    margin-left: var(--side-bar-width);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 36px 48px;
}

.menu {
    position: fixed;
    top: 80px;
    right: 0;
    left: var(--side-bar-width);
    display: flex;
    width: 100%;
    align-items: center;
    background-color: lightblue;
    z-index: 999;
}

.menu-item {
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    &:hover {
        color: var(--primary);
    }
}
.active {
    color: var(--primary);
}
.menu-link {
    padding: 12px 24px;
}

.menu-link:nth-child(2) {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
