.wrapper {
    display: flex;
    background-color: #f9f9f9;
}

.content {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 8px 24px 0px;
    max-height: window-height;
    overflow-y: auto;
    scrollbar-width: none;
}
