.wrapper {
    width: var(--default-layout-width);
    display: flex;
    height: calc(731px - 96px - 18px);
}

.list-message {
    // flex: 3;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #ccc;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: var(--default-layout-header-height);
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    width: 450px;
    border-top: solid 1px #ccc;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 16px;
    .title {
        font-size: 2.8rem;
        line-height: 3rem;
        margin-bottom: 16px;
    }
}

.search-message {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 36px;
    border: solid 1px #ccc;
    border-radius: 16px;
    font-size: 1.4rem;
    font-family: var(--font-family);
}

.chat-box-wrapper {
    position: absolute;
    left: 450px;
    top: var(--default-layout-header-height);
    right: 0;
}

.chat-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.no-current-chat {
    font-size: 2rem;
    color: rgb(183, 183, 183);
    height: 100%;
    text-align: center;
    margin-top: 300px;
}

.header-chat-box {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    height: 64px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    position: fixed;
    top: var(--default-layout-header-height);
    z-index: 1;
    background-color: #fff;
    left: 450px;
    right: 0;
    border-top: solid 1px #ccc;
}

.user-avatar {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: #e0e0e0;
    }
}

.avatar-chat-box {
    position: relative;
    width: 40px;
    height: 40px;
}

.img-chat-box {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.full-name {
    margin-left: 8px;
    font-size: 1.4rem;
}

.info-icon-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.info-icon {
    font-size: 30px;
}

.message-container {
    max-height: calc(100% - 63px - var(--default-layout-header-height));
    height: calc(100% - 63px - var(--default-layout-header-height));
    overflow-y: auto;
    margin-bottom: 78px;
}

.bottom {
    position: fixed;
    top: calc(100% - 70px);
    width: 100%;
    background-color: #fff;
}

.text-send {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    width: 1074px;
    margin-left: 16px;
}

.text-input {
    width: calc(100% - 82px);
    padding: 16px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.icon-send {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 30px;
    margin: 0 16px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.online-icon {
    position: absolute;
    top: 50%;
    right: -6px;
    font-size: 20px;
    color: #31a24c;
}

.entering {
    font-size: 1.4rem;
    color: #ccc;
    margin-left: 16px;
}

.send-crPost {
    position: absolute;
    right: 100px;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(76, 132, 76);
    color: #fff;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

@media (max-width: 1025px) {
    .wrapper {
        height: 100%;
        overflow: hidden;
    }
    .list-message {
        top: 80px;
        width: 400px;
    }
    .chat-box-wrapper,
    .header-chat-box {
        top: 80px;
        left: 400px;
    }
    .text-send {
        width: calc(100% - 400px);
    }

    // .icon-send
}

@media (max-width: 769px) {
    .list-message {
        width: 300px;
    }
    .chat-box-wrapper,
    .header-chat-box {
        top: 80px;
        left: 300px;
    }
    .text-send {
        width: calc(100% - 300px);
    }
}

@media (max-width: 601px) {
    .list-message {
        width: 100%;
    }
    .chat-box-wrapper,
    .header-chat-box {
        width: 100%;
        left: 0;
    }
    .text-send {
        width: 100%;
    }
    .header-left {
        display: flex;
        align-items: center;
    }
    .back {
        display: flex;
        align-items: center;
        padding: 8px;
        &:hover {
            background-color: #f2f2f2;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .icon-back {
        font-size: 20px;
    }
}
